.collapsiblockTitle button {
  display: block;
  width: 100%;
  padding: 0;
  cursor: pointer;
  text-align: left;
  color: #0071b3;
  border: none;
  background: url(../../images/expanded.png) no-repeat right;

  &:hover {
    color: #018fe2;
  }
}

div .collapsiblockTitleCollapsed button {
  background-image: url(../../images/collapsed.png);
}

.collapsiblockContent {
  overflow: hidden;
}

[dir='rtl'] .collapsiblockTitle button {
  display: block;
  background-position: left;
}

[dir='rtl'] .collapsiblockTitleCollapsed button {
  background-image: url(../../images/collapsed-rtl.png);
  background-position: left;
}
